<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<nav>
    <a aria-current="page" th:href="@{/tasks/new(filter=${filter.name()},keyword=${keyword})}">New task</a>
</nav>
<br /><br />
<div>
    <h4>Filtered as: </h4>
    <a class="btn" th:href="@{/tasks(filter=All,keyword=${keyword})}" role="button">All</a>
    <a class="btn" th:href="@{/tasks(filter=Completed,keyword=${keyword})}" role="button">Completed</a>
    <a class="btn" th:href="@{/tasks(filter=NotCompleted,keyword=${keyword})}" role="button">Not completed</a>
</div>
<br />
<form method="get" th:action="@{/tasks}">
    <input type="hidden" name="filter" th:value="${filter.name()}" />
    <input name="keyword" placeholder="Keyword" size="50" th:value="${keyword}" type="text" />
    <button type="submit">Search</button>
    <a th:href="@{/tasks(filter=${filter.name()})}" role="button">Reset</a>
</form>
<br />
<div>
    <tr th:each="task: ${tasks}">
        <a th:href="@{/tasks/edit/__${task.id}__(filter=${filter.name()},keyword=${keyword})}">
            <div>
                <h5 th:text="${task.name}"></h5>
                <form action="#" th:action="@{/tasks/__${task.id}__(filter=${filter.name()},keyword=${keyword})}" method="post">
                    <input type="submit" th:value="${task.completed} ? 'Mark as not complete' : 'Mark as complete'" />
                </form>
            </div>
            <small th:if="${task.expirationDate != null}" th:text="${#dates.format(new java.util.Date(task.expirationDate.getTime()), 'dd-MM-yyyy HH:mm')} + ' | ' + ${task.category.isDefaultValue() ? 'No priority' : task.category.getFancyName()}" class="text-muted"></small>
        </a>
    </tr>
</div>
</body>
</html>